{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'adm_assets/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'adm_assets/vendors/iconly/bold.css'%}">

    <link rel="stylesheet" href="{% static 'adm_assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'adm_assets/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'adm_assets/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'adm_assets/images/favicon.svg' %}" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="#">ServEase</a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>

<!-- DashboardPage -->

<div class="sidebar-menu">
    <ul class="menu">
        <li class="sidebar-title">Menu</li>

        <li class="sidebar-item active ">
            <a href="{% url 'dashboard' %}" class='sidebar-link'>
                <i class="bi bi-grid-fill"></i>
                <span>Dashboard</span>
            </a>
        </li>
<!-- View Users  -->
        <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-stack"></i>
                <span>View Users</span>
            </a>
            <ul class="submenu ">
                <!-- <li class="submenu-item ">
                    <a href="{%url 'full_users'%}">All Users</a>
                </li> -->
                <li class="submenu-item ">
                    <a href="{%url 'full_customers'%}">Customers</a>
                </li>
                <li class="submenu-item ">
                    <a href="{%url 'full_workers'%}">Workers</a>
                </li>
            </ul>
        </li>
<!-- Booking  -->
        <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-collection-fill"></i>
                <span>View Bookings</span>
            </a>
            <ul class="submenu ">
                <li class="submenu-item ">
                    <a href="{%url 'new_bookings'%}">New Requests</a>
                </li>
                <li class="submenu-item ">
                    <a href="#">Allocated Bookings</a>
                </li>
                <li class="submenu-item ">
                    <a href="#">All Bookings</a>
                </li>
            </ul>
        </li>
<!-- Manage Customers  -->
        <!-- <li class="sidebar-item ">
            <a href="{%url 'manage_customers'%}" class='sidebar-link'>
                <i class="bi bi-stack"></i>
                <span>Manage Customers</span>
            </a>
        </li> -->
<!-- Manage Workers  -->
        <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-stack"></i>
                <span>Manage Workers</span>
            </a>
            <ul class="submenu ">
                <li class="submenu-item ">
                    <a href="{% url 'manage_home_nurses' %}">Home Nurse</a>
                </li>
                <li class="submenu-item ">
                    <a href="{% url 'manage_house_maids' %}">House Maid</a>
                </li>
                <li class="submenu-item ">
                    <a href="{% url 'manage_electricians' %}">Electrician</a>
                </li>
                <li class="submenu-item ">
                    <a href="{% url 'manage_plumbers' %}">Plumber</a>
                </li>
                <li class="submenu-item ">
                    <a href="{% url 'manage_carpenters' %}">Carpenter</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item ">
            <a href="{%url 'view_verification'%}" class='sidebar-link'>
                <i class="bi bi-stack"></i>
                <span>Verification</span>
            </a>
        </li>
        <!-- Report Generation -->
        <li class="sidebar-item ">
            <a href="{% url 'report_generation' %}" class='sidebar-link'>
                <i class="bi bi-file-earmark-text"></i>
                <span>Report Generation</span>
            </a>
        </li>
</div>
<button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>
</div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>All Users</h3>
                            <p class="text-subtitle text-muted">Listing the basic details</p>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">All Users</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="card">
                        <div class="card-header">
                            View Only Data of All Users
                        </div>
                        <div class="card-body">
                            <table class="table table-striped" id="table1">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>City</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>{{ user.firstname }} {{ user.lastname }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.phone }}</td>
                                        <td>{{ user.place }}</td>
                                        <td>
                                            {% if user.availability %}
                                                <span class="badge bg-success">Active</span>
                                            {% else %}
                                                <span class="badge bg-danger">Inactive</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5">No workers found.</td> <!-- Adjusted colspan to match the number of columns -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        
                    </div>
                    <div class="float-end">
                        
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'adm_assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'adm_assets/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'adm_assets/vendors/apexcharts/apexcharts.js' %}"></script>
    <script src="{% static 'adm_assets/js/pages/dashboard.js' %}"></script>

    <script src="{% static 'adm_assets/js/main.js' %}"></script>
    <script>
        // Simple Datatable
        let table1 = document.querySelector('#table1');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>

    <script src="{% static 'adm_assets/js/main.js'%}"></script>
</body>

</html>